{{!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>DinoScour</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
</head>
	<body>
		{{{ body }}}
	</body>
</html> --}}



<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>DinoScour</title>
	{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/js/app.js"></script> --}}
</head>
	<body>
		{{{ body }}}
		{{!-- <div id="wrapper">
		<h1>Note Scraper</h1>
		<h2><i>If you can do this...the homework should be no problem.</i></h2>
		<div id="articles"></div>
		<div id="notes"></div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="app.js"></script> --}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/assets/js/app.js"></script>
	</body>
</html>