
  <div id="wrapper">
		
    <h1>DinoScour</h1>
		
    <h2><i>Scour the most popular news and information about the coding world! A great resource for developers of all skill levels.</i></h2>
		
    <div id="articles"></div>
		
    <div id="notes"></div>

  </div>
