
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    {{!-- <h1 class="display-4">DinoScour</h1> --}}
    <img src="../public/assets/images/dinoscour.jpg" alt="DinoScour Logo">
    <p class="lead">Scour the most popular opportunities in the coding world! A great resource for developers of all skill levels.</p>
    <p>Click the Titles to leave yourself a note. Click the Links for more detailed information. </p>
  </div>
</div>
  
  
  <div id="wrapper">

    <div id="articles" class="list-group";></div>
		
    <div id="notes"></div>

  </div>
