
/* body { 
    background-color: #F2F6D0 
} */
#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
    margin-bottom: 200px; 
}
#notes {
    float: right;
    width: 30%;
}

.container {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

.lead {
    margin-top: 25px;
}

body {
    background-image: url(../images/silver_scales.png);
    background-repeat: repeat;
    background-position: center;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}

#titleinput {
    margin-top: 10px;
    margin-bottom: 10px;
}

#savenote {
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}