
/* body { 
    background-color: #F2F6D0 
} */
#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
    margin-bottom: 200px; 
}
#notes {
    float: right;
    width: 30%;
}

body {
    background-image: url(../images/silver_scales.png);
    background-repeat: repeat;
    background-position: center;
}

.jumbotron {
    background-color: rgb(255, 0, 0);
    border-bottom: 5px black;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}

#titleinput {
    margin-top: 10px;
    margin-bottom: 10px;
}

#savenote {
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}